<div class="container">
  <form class="mb-3 login-form">
    <div class="mb-3">
      <h1>Log In</h1>
      <hr />
      <h3>Email address</h3>
      <input type="email" class="form-control" type="text" id="email-login" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <h3>Password</h3>
      <input type="password" class="form-control" id="password-login">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <form class="mb-3 signup-form">
    <div class="mb-3">
      <h1>Sign Up</h1>
      <hr />
      <div class="mb-3">
        <h3>Username</h3>
        <input class="form-control" type="text" id="name-signup" />
      </div>
      <h3>Email address</h3>
      <input type="email" class="form-control" type="text" id="email-signup" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <h3>Password</h3>
      <input type="password" class="form-control" id="password-signup">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="./js/login.js"></script>